<div class="hero-background">
  <img src="../../../assets/images/gallery/spiritwood-24.jpg" />
  <header class="hero-text">{{ 'operation-hero-title' | translate }}</header>
</div>

<section>
  <div>
    <div class="push-bottom padding-none">
      <header>{{ 'operation-trees-title' | translate }}</header>
      {{ 'operation-trees-summary' | translate }}
    </div>
    <div class="card">
      <div class="content">
        <header class="header-left">
          {{ 'operation-teak-title' | translate }}
        </header>
        {{ 'operation-teak-text' | translate }}
      </div>
      <img src="../../../assets/images/teak.jpg" />
    </div>

    <div class="card reverse">
      <img src="../../../assets/images/mahogany.jpg" />
      <div class="content title-left">
        <header class="left">
          {{ 'operation-mahogany-title' | translate }}
        </header>
        {{ 'operation-mahogany-text' | translate }}
      </div>
    </div>

    <header class="left">{{ 'operation-planting-title' | translate }}</header>
    <div class="card">
      <div class="content">
        <div class="push-bottom-small">
          {{ 'operation-planting-text1' | translate }}
        </div>
        <div class="push-bottom-small">
          {{ 'operation-planting-text2' | translate }}
        </div>
        <div class="push-bottom-small">
          {{ 'operation-planting-text3' | translate }}
        </div>
      </div>
      <img src="../../../assets/images/gallery/spiritwood-17.jpg" />
    </div>

    <header class="left">{{ 'operation-mill-title' | translate }}</header>
    <div class="card reverse">
      <img src="../../../assets/images/gallery/spiritwood-26.jpg" />
      <div class="content">
        <div class="push-bottom-small">
          {{ 'operation-mill-text1' | translate }}
        </div>
        <div class="push-bottom-small">
          {{ 'operation-mill-text2' | translate }}
        </div>
        <div class="push-bottom-small">
          {{ 'operation-mill-text3' | translate }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div>
    <button>
      <a routerLink="/gallery">{{ 'operation-button' | translate }}</a>
    </button>
  </div>
</section>
