<div class="hero-background">
  <img src="https://i.imgur.com/YNKV7dU.jpg" />
  <header class="hero-text">Our Operation</header>
</div>

<section>
  <div>
    <div class="card">
      <img src="../../../assets/images/team-tim.jpg" />
      <div class="content">
        <header class="left">Some Title</header>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
        doloribus deserunt non aliquam voluptates delectus nesciunt sit magni
        voluptatibus, ipsa quas sapiente et in consectetur quam natus,
        praesentium dicta nobis!
      </div>
    </div>

    <div class="card reverse">
      <div class="content title-left">
        <header class="left">Some Title</header>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
        doloribus deserunt non aliquam voluptates delectus nesciunt sit magni
        voluptatibus, ipsa quas sapiente et in consectetur quam natus,
        praesentium dicta nobis!
      </div>
      <img src="../../../assets/images/team-juan.jpg" />
    </div>

    <div class="card">
      <img src="../../../assets/images/team-vivian.jpg" />
      <div class="content">
        <header class="left">Some Title</header>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam
        doloribus deserunt non aliquam voluptates delectus nesciunt sit magni
        voluptatibus, ipsa quas sapiente et in consectetur quam natus,
        praesentium dicta nobis!
      </div>
    </div>
  </div>
</section>

<section class="top">
  <div>
    <button><a routerLink="/gallery">Visit Our Gallery</a></button>
  </div>
</section>
