<div class="hero-background">
  <img src="../../../assets/images/gallery/spiritwood-31.jpg" />
  <header class="hero-text">{{ 'contact-hero-title' | translate }}</header>
</div>

<section>
  <div class="content">
    <img src="../../assets/images/gallery/spiritwood-5.jpg" alt="" />
    <div class="text">
      <div class="padding-none">
        {{ 'contact-text1' | translate }}
      </div>
      <div class="push-top left-text">
        {{ 'contact-text2' | translate }}
      </div>
      <a href="mailto:info@spiritwoodgroup.com?subject=Spiritwood inquiry"
        ><button>
          {{ 'contact-button' | translate }}
        </button></a
      >
      <div class="email">info@spiritwoodgroup.com</div>
    </div>
  </div>
</section>
