<div class="img-gradient">
  <img
    src="../../../assets/hero-image.jpg"
    class="hero hero-image"
    alt="Spiritwood Hero Image"
  />
  <video loop muted autoplay playsinline class="hero hero-video">
    <source src="../../../assets/hero-video.mp4" type="video/mp4" />
  </video>
  <div class="hero-cta">
    <!-- TODO: Remove, use as example for translate -->
    <!-- <header>{{ 'ProductsTitle' | translate }}</header> -->
    <div class="hero-title">Growing tomorrow's future</div>
    <button (click)="scrollToElement(contact)">Contact Us Now</button>
  </div>
</div>
<section>
  <div>
    <header>Experts in forestry</header>
    <div class="center-text">
      Spiritwood has been operating in the forestry sector for over 20 years.
      Sustainably managing and growing trees is what we do best. With over 600
      hectares of land across the Philippines and a fully licensed sawmill,
      Spiritwood is working to evolve from a tree farm company in to an
      international supplier of wood products.
    </div>
    <div class="center-text push-top">
      The trees are currently approaching 20 years of age and are ready for
      selective harvesting.
    </div>

    <button class="top">
      <a routerLink="/our-operation">Learn More</a>
    </button>
  </div>
</section>

<img
  class="parallax-splitter"
  src="../../../assets/images/gallery/spiritwood-36.jpg"
  alt="image"
/>

<section class="grey" #contact>
  <div>
    <header>Interested in growing the future?</header>
    <div class="center-text">
      With an excess of 600 hectares of trees, ready to harvest, we now have a
      standing inventory of over 160 million board feet. We are actively looking
      for new partners to help us grow the future and would love to hear from
      you.
    </div>
    <a href="mailto:info@spiritwoodgroup.com?subject=Spiritwood inquiry"
      ><button class="top">
        Contact Us Now
      </button></a
    >
  </div>
</section>

<div>
  <header class="video-title">Our Journey</header>
  <div class="embed-container">
    <iframe
      src="https://player.vimeo.com/video/358525077"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowFullScreen
    ></iframe>
  </div>
</div>
