@import '../../../styles.scss';

:host {
  .hero {
    display: none;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    &.hero-image {
      @include smallphone {
        display: block;
      }
      @include phone {
        display: block;
      }
    }
    &.hero-video {
      @include tablet {
        display: block;
      }
      @include desktop {
        display: block;
      }
    }
  }

  .hero-cta {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div,
    button {
      color: $white;
      margin-bottom: 24px;
      z-index: 2;
    }
    .hero-title {
      font-size: 30px;
      @include smallphone {
        font-size: 20px;
      }
      @include phone {
        font-size: 20px;
      }
    }
  }

  .img-gradient {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(
      top,
      rgba(133, 133, 133, 0.4) 0%,
      rgba(133, 133, 133, 0.4) 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(133, 133, 133, 0.4)),
      color-stop(100%, rgba(133, 133, 133, 0.4))
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
      top,
      rgba(133, 133, 133, 0.4) 0%,
      rgba(133, 133, 133, 0.4) 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
      top,
      rgba(133, 133, 133, 0.4) 0%,
      rgba(133, 133, 133, 0.4) 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
      top,
      rgba(133, 133, 133, 0.4) 0%,
      rgba(133, 133, 133, 0.4) 100%
    ); /* IE10+ */
    background: linear-gradient(
      to bottom,
      rgba(133, 133, 133, 0.4) 0%,
      rgba(133, 133, 133, 0.4) 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868782', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  .video-title {
    margin-top: 35px;
    @include desktop {
      margin-top: 55px;
    }
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    @include tablet {
      width: 648px;
      height: 374px;
      margin: 0 auto;
    }
    @include desktop {
      width: 940px;
      height: 526px;
      margin: 0 auto 55px auto;
      padding-bottom: 0;
    }
  }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
