<div class="img-gradient">
  <img
    src="../../../assets/hero-image.jpg"
    class="hero hero-image"
    alt="Spiritwood Hero Image"
  />
  <video loop muted autoplay playsinline class="hero hero-video">
    <source src="../../../assets/hero-video.mp4" type="video/mp4" />
  </video>
  <div class="hero-cta">
    <!-- TODO: Remove, use as example for translate -->
    <!-- <header>{{ 'ProductsTitle' | translate }}</header> -->
    <div class="hero-title">Growing tomorrow's future</div>
    <button (click)="scrollToElement(contact)">Contact Us Now</button>
  </div>
</div>
<section>
  <div>
    <header>About Us Summary</header>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolorem
    voluptate quo, et perspiciatis eius facilis commodi aliquam! Voluptatum
    tempora omnis veritatis necessitatibus minus dolor quidem nostrum non nulla
    sit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
    dolorem voluptate quo, et perspiciatis eius facilis commodi aliquam!
    Voluptatum tempora omnis veritatis necessitatibus minus dolor quidem nostrum
    non nulla sit! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Aspernatur dolorem voluptate quo, et perspiciatis eius facilis commodi
    aliquam! Voluptatum tempora omnis veritatis necessitatibus minus dolor
    quidem nostrum non nulla sit!
    <button class="top">
      <a routerLink="/about-us">Learn More</a>
    </button>
  </div>
</section>

<img
  class="parallax-splitter"
  src="../../../assets/images/tree-farm-5.jpg"
  alt="image"
/>

<section class="grey" #contact>
  <div>
    <header>Contact Us</header>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolorem
    voluptate quo, et perspiciatis eius facilis commodi aliquam! Voluptatum
    tempora omnis veritatis necessitatibus minus dolor quidem nostrum non nulla
    sit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur
    dolorem voluptate quo, et perspiciatis eius facilis commodi aliquam!
    Voluptatum tempora omnis veritatis necessitatibus minus dolor quidem nostrum
    non nulla sit!
    <a href="mailto:info@spiritwoodgroup.com?subject=Spiritwood inquiry"
      ><button class="top">
        Contact Us Now
      </button></a
    >
  </div>
</section>

<div>
  <header class="video-title">Our Journey</header>
  <div class="embed-container">
    <iframe
      src="https://player.vimeo.com/video/358525077"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowFullScreen
    ></iframe>
  </div>
</div>
