<div class="footer-container">
  <div class="footer-left">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="our-operation" routerLinkActive="active">Our Operation</a>
    <a routerLink="about-us" routerLinkActive="active">About Us</a>
    <a routerLink="gallery" routerLinkActive="active">Gallery</a>
    <a routerLink="contact-us" routerLinkActive="active">Contact Us</a>
  </div>
  <div class="footer-right">
    <div>Spiritwood Corporation 2019</div>
    <img
      src="../../../assets/logo-green-full.png"
      class="logo"
      alt="Spiritwood Logo"
    />
  </div>
</div>
