<!-- Hero Image -->
<div class="hero-background">
  <img
    class="hero-position-top"
    src="../../../assets/images/gallery/spiritwood-21.jpg"
  />
  <header class="hero-text">{{ 'about-hero-title' | translate }}</header>
</div>

<!-- Teams -->
<header class="top">{{ 'about-title' | translate }}</header>
<section class="top">
  <div class="team-wrap">
    <div>
      <div class="team-card card-width spacing-bottom">
        <div class="circletag douglas spacing-top"></div>
        <div class="name">Douglas Wilson</div>
        <div class="title">Spiritwood Group CEO</div>
        <div class="push-bottom-big">
          {{ 'about-douglas' | translate }}
        </div>
      </div>
    </div>
    <div class="team-card">
      <div class="circletag ken"></div>
      <div class="name">Ken Eicher</div>
      <div class="title">Director, Spiritwood HK</div>
      <div>
        {{ 'about-ken' | translate }}
      </div>
    </div>
    <div class="team-card">
      <div class="circletag vivian"></div>
      <div class="name">Vivian Chan</div>
      <div class="title">CFO, Spiritwood HK</div>
      <div>
        {{ 'about-vivian' | translate }}
      </div>
    </div>
    <div class="team-card">
      <div class="circletag tim"></div>
      <div class="name">Teofilo Abejo</div>
      <div class="title">
        President, SGPC
      </div>
      <div>
        {{ 'about-teofilo' | translate }}
      </div>
    </div>
    <div class="team-card">
      <div class="circletag amado"></div>
      <div class="name">Amado Tayag</div>
      <div class="title">Treasurer, SGPC</div>
      <div>
        {{ 'about-amado' | translate }}
      </div>
    </div>
    <div class="team-card">
      <div class="circletag juan"></div>
      <div class="name">Juan Torrevillas</div>
      <div class="title">Corporate Secretary, SGPC</div>
      <div>
        {{ 'about-juan' | translate }}
      </div>
    </div>
    <div class="team-card">
      <div class="circletag wilfredo"></div>
      <div class="name">Wilfredo Malvar</div>
      <div class="title">President, Spiritwood Corporation</div>
      <div>
        {{ 'about-wilfredo' | translate }}
      </div>
    </div>
  </div>
</section>

<!-- Parallax -->
<img
  class="parallax-splitter"
  src="../../../assets/images/gallery/spiritwood-31.jpg"
  alt="image"
/>

<!-- Map -->
<section class="mobile-border-bottom-none">
  <div class="mobile-full-width">
    <header class="mobile-push-top">{{ 'about-map-title' | translate }}</header>
    <img class="farm-map" src="../../../assets/images/farm-map.png" />
  </div>
</section>

<!-- CTA -->
<section class="top">
  <div>
    <button class="mobile-push-top">
      <a routerLink="/our-operation">{{ 'about-button' | translate }}</a>
    </button>
  </div>
</section>
