@import '../../../styles.scss';

:host {
  .hero-position-top {
    object-position: top;
  }

  .team-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit !important;
    justify-content: center;
    @include tablet {
      padding: 0 24px !important;
    }
    @include phone {
      padding: 0 !important;
    }
    @include smallphone {
      padding: 0 !important;
    }
    div:first-child {
      width: 100%;
      padding: 0 24px !important;
    }
  }

  .card-width {
    max-width: 390px;
    width: 100%;
    @include tablet {
      max-width: 300px !important;
    }
  }

  .team-card {
    padding: 36px 24px;
    margin: 24px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 10px 30px -14px rgba(0, 0, 0, 0.25);
    background-color: $white;
    max-width: 390px !important;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      max-width: 300px !important;
    }
    .circletag {
      display: block;
      width: 140px !important;
      height: 140px !important;
      background: $white;
      border-radius: 50%;
      background-position: 50% 35%;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 0 24px 0 !important;
      &.douglas {
        background-image: url('../../../assets/images/team-douglas.jpg');
      }
      &.ken {
        background-image: url('../../../assets/images/team-ken.jpg');
        background-position: 50% 20%;
      }
      &.vivian {
        background-image: url('../../../assets/images/team-vivian.jpg');
        background-position: 50% 58%;
      }
      &.tim {
        background-image: url('../../../assets/images/team-tim.jpg');
        background-position: 50% 25%;
      }
      &.amado {
        background-image: url('../../../assets/images/team-amado.jpg');
      }
      &.juan {
        background-image: url('../../../assets/images/team-juan.jpg');
      }
      &.wilfredo {
        background-image: url('../../../assets/images/team-wilfredo.jpg');
      }
      &.spacing-top {
        margin-top: 36px !important;
      }
    }
    &.spacing-bottom {
      margin-bottom: 24px;
    }
    .name {
      font-size: 22px;
      font-weight: bold;
    }

    .title {
      font-size: 18px;
      margin-bottom: 24px;
      color: $shadow;
    }
  }

  .farm-map {
    width: 100%;
  }
}
