<!-- Hero Image -->
<div class="hero-background">
  <img
    class="hero-position-top"
    src="../../../assets/images/gallery/spiritwood-21.jpg"
  />
  <header class="hero-text">About Us</header>
</div>

<!-- Teams -->
<header class="top">Our Team</header>
<section class="top">
  <div class="team-wrap">
    <div>
      <div class="team-card card-width spacing-bottom">
        <div class="circletag douglas spacing-top"></div>
        <div class="name">Douglas Wilson</div>
        <div class="title">Spiritwood Group CEO</div>
        <div class="push-bottom-big">
          As CEO, Mr. Wilson channels his thirty-five years of business
          experience, ensuring the interests of all stakeholders are well
          represented in the day to day operations of the company. With vast
          experience in industries including marketing services, corporate and
          business consulting, financial services, and telecommunications, Mr.
          Wilson is an expert in all aspects of the business.
        </div>
      </div>
    </div>
    <div class="team-card">
      <div class="circletag ken"></div>
      <div class="name">Ken Eicher</div>
      <div class="title">Director, Spiritwood HK</div>
      <div>
        Mr. Eicher is one of the founders of Spiritwood Corporation. He
        developed the financial and business opportunities, initiating and
        overseeing the planting of over 1,500,000 white teak trees and over
        80,000 mahogany trees. After 20+ years of managing the company, Ken is
        still the backbone of progress, always seeing the potential and driving
        the growth of the company.
      </div>
    </div>
    <div class="team-card">
      <div class="circletag vivian"></div>
      <div class="name">Vivian Chan</div>
      <div class="title">CFO, Spiritwood HK</div>
      <div>
        Vivian is an exceptional CPA, fully qualified for international
        accounting and is located in Hong Kong as our Group CFO. She manages all
        levels of the accounting teams and ensures full compliance of all
        financial activities.
      </div>
    </div>
    <div class="team-card">
      <div class="circletag tim"></div>
      <div class="name">Teofilo Abejo</div>
      <div class="title">
        President, SGPC
      </div>
      <div>
        With over two decades of legal experience, Mr. Abejo been able to assist
        Spiritwood with navigating through the required regulatory processes,
        and bringing his unique leadership style and senior counsel to the team.
      </div>
    </div>
    <div class="team-card">
      <div class="circletag amado"></div>
      <div class="name">Amado Tayag</div>
      <div class="title">Treasurer, SGPC</div>
      <div>
        In his role as treasurer, Amado has been actively engaged with employee
        and labour relations, as well as providing outstanding corporate and
        financial oversight for SGPC and Spiritwood Corporation.
      </div>
    </div>
    <div class="team-card">
      <div class="circletag juan"></div>
      <div class="name">Juan Torrevillas</div>
      <div class="title">Corporate Secretary, SGPC</div>
      <div>
        Specializing in corporate law, Juan provides general legal services to
        the team, as well as valued guidance in the practice areas of
        administrative, civil and labour law. He continues to provide effective
        maintenance of our corporate documentation.
      </div>
    </div>
    <div class="team-card">
      <div class="circletag wilfredo"></div>
      <div class="name">Wilfredo Malvar</div>
      <div class="title">President, Spiritwood Corporation</div>
      <div>
        Mr. Malvar’s 40 years of administrative and regulatory experience with
        the Department of Environment and Natural Resources (DENR), has allowed
        him to provide us exceptional management oversight. He acts as our
        beacon for sustainability in our forestry projects.
      </div>
    </div>
  </div>
</section>

<!-- Parallax -->
<img
  class="parallax-splitter"
  src="../../../assets/images/gallery/spiritwood-31.jpg"
  alt="image"
/>

<!-- Map -->
<section class="mobile-border-bottom-none">
  <div class="mobile-full-width">
    <header class="mobile-push-top">Our Lands</header>
    <img class="farm-map" src="../../../assets/images/farm-map.png" />
  </div>
</section>

<!-- CTA -->
<section class="top">
  <div>
    <button class="mobile-push-top">
      <a routerLink="/our-operation">Learn About Our Operations</a>
    </button>
  </div>
</section>
