<!-- Hero Image -->
<div class="hero-background">
  <img class="hero-position-top" src="https://i.imgur.com/O6Qybxx.jpg" />
  <header class="hero-text">About Us</header>
</div>

<!-- Teams -->
<!-- Eww, gross. Fix this. -->
<header>Our Team</header>
<section>
  <div class="team-wrap">
    <div>
      <div class="team-card card-width">
        <div class="circletag douglas"></div>
        <div>Douglas Wilson</div>
        <div>Spiritwood Group CEO</div>
        <div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          necessitatibus fugit voluptate minus. Pariatur eveniet atque
          consequuntur earum quasi doloribus. Placeat dolor maiores nisi
          praesentium molestias. Assumenda consequatur inventore consectetur!
        </div>
      </div>
    </div>
    <div class="team-card">
      <div class="circletag ken"></div>
      <div>Name 2</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
    <div class="team-card">
      <div class="circletag vivian"></div>
      <div>Name 3</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
    <div class="team-card">
      <div class="circletag tim"></div>
      <div>Name 4</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
    <div class="team-card">
      <div class="circletag amado"></div>
      <div>Name 5</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
    <div class="team-card">
      <div class="circletag juan"></div>
      <div>Name 5</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
    <div class="team-card">
      <div class="circletag wilfredo"></div>
      <div>Name 5</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        necessitatibus fugit voluptate minus. Pariatur eveniet atque
        consequuntur earum quasi doloribus. Placeat dolor maiores nisi
        praesentium molestias. Assumenda consequatur inventore consectetur!
      </div>
    </div>
  </div>
</section>

<img
  class="parallax-splitter"
  src="../../../assets/images/tree-farm-5.jpg"
  alt="image"
/>

<!-- Map -->
<section class="mobile-border-bottom-none">
  <div class="mobile-full-width">
    <header>Our Lands</header>
    <img class="farm-map" src="../../../assets/images/farm-map.png" />
  </div>
</section>

<!-- CTA -->
<section>
  <div>
    <button>
      <a routerLink="/our-operation">Learn About Our Operations</a>
    </button>
  </div>
</section>
