<div class="hero-background">
  <img src="https://i.imgur.com/F4rjbcz.jpg" />
  <header class="hero-text">Gallery</header>
</div>

<section>
  <div>
    <header>A Collection of Our Dedication</header>
    <div>
      Below are a collection of lorem ipsum Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Magni ullam illo harum quo dolorem dolore
      numquam nulla. Debitis repellat iusto fuga, magnam totam ipsa, excepturi,
      obcaecati odio ex minima eum. Below are a collection of lorem ipsum Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Magni ullam illo harum
      quo dolorem dolore numquam nulla. Debitis repellat iusto fuga, magnam
      totam ipsa, excepturi, obcaecati odio ex minima eum.
    </div>
  </div>
</section>

<app-gallery-grid></app-gallery-grid>

<section>
  <div>
    <button><a routerLink="/">Go To Our Operation Page</a></button>
  </div>
</section>
