<div class="navContainer">
  <div class="logo" [class.down]="isVisible" routerLink="/"></div>
  <div class="desktopNavLinks" [class.down]="isVisible">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <!-- TODO: Create ngFor for all anchor tags. -->
    <a routerLink="our-operation" routerLinkActive="active">Our Operation</a>
    <a routerLink="about-us" routerLinkActive="active">About Us</a>
    <a routerLink="gallery" routerLinkActive="active">Gallery</a>
    <a routerLink="contact-us" routerLinkActive="active">Contact Us</a>
    <div class="translationToggle">
      <img
        (click)="switchLanguage('en')"
        class="flag"
        src="../../../assets/united-kingdom.svg"
      />
      <span [class.down]="isVisible">/</span>
      <img
        (click)="switchLanguage('zh')"
        class="flag"
        src="../../../assets/china.svg"
      />
    </div>
  </div>
  <button (click)="mobileMenuToggle()" class="hamburgerMenu">
    HAMBURGER
  </button>
</div>
<div [@hamburger] *ngIf="mobileMenu" class="mobileMenu">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    (click)="mobileMenuToggle()"
    >Home</a
  >
  <a
    routerLink="our-operation"
    routerLinkActive="active"
    (click)="mobileMenuToggle()"
    >Our Operation</a
  >
  <a
    routerLink="about-us"
    routerLinkActive="active"
    (click)="mobileMenuToggle()"
    >About Us</a
  >
  <a routerLink="gallery" routerLinkActive="active" (click)="mobileMenuToggle()"
    >Gallery</a
  >
  <a
    routerLink="contact-us"
    routerLinkActive="active"
    (click)="mobileMenuToggle()"
  >
    Contact Us</a
  >
  <div class="translationToggle">
    <img
      (click)="switchLanguage('en')"
      class="flag"
      src="../../../assets/united-kingdom.svg"
    />
    <span [class.down]="isVisible">/</span>
    <img
      (click)="switchLanguage('zh')"
      class="flag"
      src="../../../assets/china.svg"
    />
  </div>
</div>
