@import './variables.scss';

body {
  margin: 0;
  color: $text-default;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

button {
  color: $white;
  background: $dark-green;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
  box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
}

// Vertical Spacing
section {
  @include desktop {
    padding: 60px 0;
  }

  @include tablet {
    padding: 40px 0;
  }

  @include phone {
    padding: 24px 0;
  }

  @include smallphone {
    padding: 24px 0;
  }

  // Horizontal Spacing
  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    @include desktop {
      max-width: 940px;
    }

    @include tablet {
      padding: 30px;
    }

    @include phone {
      padding: 15px;
    }

    @include smallphone {
      padding: 15px;
    }
  }
  &.grey {
    background: #fafafa;
  }
}
