@import './variables.scss';

// TODO: Put all styles.scss content into a global.scss
body {
  margin: 0;
  color: $text-default;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

button {
  color: $white;
  background: $dark-green;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
  box-shadow: 2px 2px 5px 0px rgba(204, 204, 204, 0.3);
}

// Header tag
header {
  font-size: 32px;
  margin-bottom: 24px;
  @include smallphone {
    font-size: 22px;
    margin-bottom: 18px;
  }

  @include phone {
    font-size: 22px;
    margin-bottom: 18px;
  }

  @include tablet {
    font-size: 32px;
  }
}

// Vertical Spacing
section {
  @include smallphone {
    padding: 35px 0;
  }

  @include phone {
    padding: 35px 0;
  }

  @include tablet {
    padding: 55px 0;
  }

  @include desktop {
    padding: 55px 0;
  }

  &.mobile-border-bottom-none {
    @include smallphone {
      padding: 0px;
    }

    @include phone {
      padding: 0px;
    }
  }

  // Horizontal Spacing
  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: justify;

    @include smallphone {
      padding: 0 24px;
    }

    @include phone {
      padding: 0 24px;
    }

    @include tablet {
      padding: 0 60px;
    }

    @include desktop {
      max-width: 940px;
    }
    &.mobile-full-width {
      @include smallphone {
        padding: 0px;
      }

      @include phone {
        padding: 0px;
      }
    }
  }
  &.grey {
    background: #fafafa;
  }
}

// TODO: Rewrite Home hero to use these.
// Hero Backgrounds & Paradox Splits
.hero-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 40vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
    &.splitter {
      height: 30vh;
    }
  }
  header {
    color: $white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}

.hero-background:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(133, 133, 133, 0.4) 0%,
    rgba(133, 133, 133, 0.4) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(133, 133, 133, 0.4)),
    color-stop(100%, rgba(133, 133, 133, 0.4))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(133, 133, 133, 0.4) 0%,
    rgba(133, 133, 133, 0.4) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(133, 133, 133, 0.4) 0%,
    rgba(133, 133, 133, 0.4) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(133, 133, 133, 0.4) 0%,
    rgba(133, 133, 133, 0.4) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(133, 133, 133, 0.4) 0%,
    rgba(133, 133, 133, 0.4) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868782', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
