// Globally Available Variables

// Colors
$white: white;
$black: #000 !default;
$light-grey: #fafafa !default;
$dark-green: #21402e;
$light-green: #006d37;
$text-default: #373a3c;
$shadow: #5c5c5c;

// Media Queries
$smallphone: 412px;
$phone: 576px;
$tablet-min: 577px;
$container: 940px;
$tablet: 1023px;
$desktop: 1024px;

@mixin smallphone {
  @media (max-width: #{$smallphone}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin container {
  @media (max-width: #{$container}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
